<!DOCTYPE html>
<html>
<head>
<title>E-Commerce</title>
<style>

    body{
font-family:Arial;
background:#f5f5f5;
margin:20px;
}

nav{
background:#333;
padding:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th{
background:#2196F3;
color:white;
padding:10px;
}

td{
padding:10px;
text-align:center;
}

img{
border-radius:8px;
}
</style>
</head>
<body>

<nav>
<a href="/">Home</a>
<a href="/admin/">Admin</a>
<a href="/vendor/">Vendor</a>
<a href="/customer/">Customer</a>
<a href="/upload/">Product Upload</a>
<a href="/cart/">Cart</a>
<a href="/checkout/">Checkout</a>
</nav>

{% block content %}

{% endblock %}

</body>
</html>